.App {
  text-align: center;
}
body {
  background-color: #222222;
}
.App {
 
}
header {
  background-color: #35A5DA;
  height: 100px;
  text-align: left;
  padding-left: 5rem;
}
.headerH1 {
  margin: 0 auto;
  padding-top: 1.5rem;
}
.card {
  background-color: #fff;
  height: 60vh;
  width: 75vw;
  margin: auto;
  margin-top: 5rem;
}
